# short tags
php_flag short_open_tag on

RewriteEngine on

# images
RewriteRule ^@/(.*)$ uploads/$1 [QSA,L]

# pages
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?view=$1 [QSA,L]

